.idea
idea.iml
results

sources/**/csv
sources/**/*.csv
sources/**/*.zip
sources/**/*.pdf
sources/**/*.gz
sources/**/*.xlsb
sources/**/*.csv
sources/**/*.xlsx
sources/**/*.rar
sources/**/*.zip
sources/**/*.txt
sources/**/*.sql
sources/**/*.json
sources/**/*.png
sources/**/*.jpg
.vscode/**