# Based on https://github.com/puckel/docker-airflow/blob/master/docker-compose-LocalExecutor.yml

version: '3.7'
services:

  webserver:
    #    image: docker.pkg.github.com/instidea/controlciudadano/microservice_parser:latest
    build: ../../scripts/python/parser/
    restart: always
    environment:
      PG_CONN: ''
      PARSERENGINE_IN: /tmp
      PARSERENGINE_OUT: /tmp
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - 8080:80

