#header {
  background-color: #fff;
  position: relative;
  z-index: 10;
  height: 64px;
}
.dropdown-item .anticon {
  color: rgba(0, 52, 91, 1);
  font-size: larger;
}

.ant-input-suffix {
  display: none;
}
.ant-input-affix-wrapper {
  border: none;
}
.ant-input-affix-wrapper > input.ant-input {
  font-weight: bold;
  color: rgba(0, 52, 91, 1);
}
.header-title {
  color: rgba(0, 52, 91, 1);
  overflow: hidden;
  padding-left: 150px;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
}
.header-table-mode {
  color: rgba(0, 52, 91, 1);
  font-size: 20px;
  text-align: center;
}
.header-title-wrapper {
  width: 300px;
  border-right: 1px solid rgb(236, 241, 245);
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
}

.header-search-wrapper {
  padding-left: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
}

#logo {
  overflow: hidden;
  line-height: 64px;
  text-decoration: none;
  height: 64px;
}
#logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 15%;
}
#logo span {
  color: rgba(0, 52, 91, 1);
  outline: none;
  font-size: 14px;
  line-height: 28px;
}
.header-meta {
  color: rgba(0, 52, 91, 1);
  padding-right: 40px;
}

.collapsed-menu {
  color: rgba(0, 52, 91, 1);
  padding-right: 40px;
  padding-top: 20px;
}

#menu {
  float: right;
  overflow: hidden;
  height: 64px;
}
#menu .ant-menu {
  line-height: 60px;
}
#menu .ant-menu-horizontal {
  border-bottom: none;
}
#menu .ant-menu-horizontal > .ant-menu-item {
  border-top: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 2px solid rgba(0, 52, 91, 1);
  border-top: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item a {
  color: rgba(0, 52, 91, 1);
}
#menu .ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid rgba(0, 52, 91, 1);
  border-top: 2px solid transparent;
}
#menu .ant-menu-horizontal > .ant-menu-item-selected a {
  color: rgba(0, 52, 91, 1);
}

.menu-item {
  color: rgba(0, 52, 91, 1) !important;
}
