# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build API and publish image

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
    paths:
    - 'api/**'
    - '.github/workflows/api.yml'

env:
  IMAGE_NAME: api

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]
   
    defaults:
      run:
        working-directory: 'api'

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Download dependencies
      run: npm ci

    - name: Build 
      run: npm run tsc

    - name: Build image
      run: docker build . --file Dockerfile --tag $IMAGE_NAME

    - name: Tag and push image
      if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'master'
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

        IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME
          
        # Change all uppercase to lowercase
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
        # Strip git ref prefix from version
        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        # Strip "v" prefix from tag name
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        # Use Docker `latest` tag convention
        [ "$VERSION" == "master" ] && VERSION=latest
        [ "$VERSION" == "semillas" ] && VERSION=semillas
        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION

        [ "$VERSION" == "latest" ] && curl "${{ secrets.HOOK_API }}"
        [ "$VERSION" == "semillas" ] && curl "${{ secrets.HOOK_API_SEMILLAS }}"
        echo "Succeed"

